<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FactoryTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FactoryTest.Properties.Settings>
            <setting name="Skip_Test" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skip_Cal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skip_Final" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skip_Current" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skip_Aging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skip_Call_Out" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bat_Min_Level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bat_Max_Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SW_Version" serializeAs="String">
                <value>V0.4_201708250950_Debug</value>
            </setting>
            <setting name="WIFI_SSID" serializeAs="String">
                <value>TP-LINK_8C22</value>
            </setting>
            <setting name="WIFI_RSSI" serializeAs="String">
                <value>-75</value>
            </setting>
            <setting name="BT_RSSI" serializeAs="String">
                <value>-75</value>
            </setting>
            <setting name="BT_MAJOR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BT_MINOR" serializeAs="String">
                <value>0</value>
            </setting>
        </FactoryTest.Properties.Settings>
    </userSettings>
</configuration>